<!-- ****** HEADER ****** -->
<header>
	<div class="ui secondary menu">
	  <%= link_to 'Agne Klimaite', '/', class: 'ui item'%>
	  <div class="right menu">
		  <%= link_to 'About', '/about', class: 'ui item'%>
		  <%= link_to 'Portfolio', '/portfolio', class: 'ui item'%>
		  </a>
	    <%= link_to 'Contact', '/contact', class: 'ui item'%>
	  </div>
	</div>
</header>
<div class="main-content">
	<img class="ui fluid image" src="<%= asset_path( 'welcome.jpg') %>">
	<div class="overlay-text">Hello. My name is <span class="overlay-name">Agne Klimaite</span><br/>and I am a frontend developer</br>based in San Francisco.</div>
</div>