<!DOCTYPE html>
<html>
<head>
  <title>agne - <%= @title %></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SceenSquid Satellite Link -->
	<script type="text/javascript">
		var __squid = [];
		var __squid_id = "portfolio__31e72520_070d_11e6_8e75_817e88df8022";
	</script>
	<script type="text/javascript" src="https://www.screensquid.tv/embed/screensquid.js"></script>
  <!-- http://screensquid.com -->

</head>
<body>

<%= render "header" %>

<%= yield %>

<%= render "footer" %>
<%= render "script" %>

</body>
</html>
